<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    </head>
    <body style="background:linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%) ;">
        <div class="text-center" style="position: fixed; top: 50%; left: 50% ;transform: translate(-50%, -50%);">
            <h1 class="display-4" style="font-family: 'Fredoka One'">Actually, You're Drunk!</h1>
            <hr class="my-4">
            <p>Please Go home and take care of yourself</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>
            </p>
          </div>
    </body>
</html>