{% extends "Seek/base.html" %}{% load static%}



  
{% block body %}
<div class="jumbotron jumbotron-fullheight jumbo-vertical-center text-light text-center bg-dark mb-0 radius-0">
  <div class="container">

      <h1 class="display-2 text-light text-uppercase">Hire Endeavors</i></b></h1>
      <h4 style="font-family: 'Fredoka One';font-size: 22px;">Where Recruiter meets best Employee & all goes vice-versa<h4>

      <div class="mt-4">
        <a href="/org-reg/"
           class="btn btn-danger btn-lg m-2 btn-wide">
          <span style="font-family: 'Fredoka One';font-size: 22px;">Let's recruit</span>
        </a>
        <a href="/user-reg/"
           class="btn btn-danger btn-lg m-2 btn-wide">
          <span style="font-family: 'Fredoka One';font-size: 22px;">Get Hired</span>
        </a>
      </div>
      <a href="#!"
           class="btn btn-outline-light btn-hover-text-dark btn-wide btn-lg m-2 mt-5">
          <span style="font-family: 'Fredoka One';font-size: 22px;">Get Started</span>
        </a>
  </div>
</div>


<!-- <div class="container py-5">

</div> -->

{% endblock %}