{% extends "Seek/base.html" %}{% block title%} Hire Endeavors {% endblock %}{% load static%}




{% block body %}
<div class="lead bg-dark">
    <div class="container">
        <br>
        <h4 class="display-4 text-light" style="font-family: OCR A Std, monospace;">Job Posts by our job seekers</h4>
        <div class="text-center col-sm-12" style="display: block;">
            {% if messages %}
            <ul class="messages">
                {% for msg in messages %}
                <p class="text-center">
                <div class="alert alert-{{msg.level_tag}} alert-dismissible text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{msg.message}}
                </div>
                </p>
                {% endfor %}
            </ul>
            {% endif %}
        </div><br><br>
        <form class="display-4" method="POST" autocomplete="off">
            {% csrf_token %}
        <div class="active-cyan-4 mb-4">
            <input name="dosearch" class="text-center form-control" type="text" placeholder="Search by  Job,  Salary,  Age,  Experience,  Number of openings .    .     .     ." aria-label="Search" style="opacity:0.7; height:54px;font-weight: 800;   ">
          </div>
        </form><br>
        <!-- <###################################################################################################> -->
        <!-- <div class="card text-center col-sm-12 col-md-12 mt-4 filters">
            <div class="card-header filters">
                <ul class="nav nav-pills card-header-pills filters">
                    <li class="nav-item filters">
                        <a class="nav-link active" href="#">Featured</a>
                    </li>
                    <li class="nav-item filters">
                        <a class="nav-link disabled border rounded ml-2" href="#">For Carpenter</a>
                    </li>
                    <li class="nav-item filters">
                        <a class="nav-link disabled border rounded ml-2" href="#">Age 39</a>
                    </li>
                    <li class="nav-item filters">
                        <a class="nav-link disabled border rounded ml-2" href="#">12+ Years of Experience </a>
                    </li>
                    <li class="nav-item filters">
                        <a class="nav-link disabled border rounded ml-2" href="#">Expected Salary : 27000</a>
                    </li>
                </ul>
            </div>
            <div class="card-body filters"
                style="background:url(https://i.ibb.co/KjdtVvg/undraw-interview-rmcf.png) center no-repeat,url(https://i.ibb.co/F8x7JRW/undraw-files-6b3d.png) right no-repeat;background-size: 150px,300px">
                <h5 class="card-title filters" style="font-family: 'Fredoka One';">Post By : Sachdev Mahajan</h5>
                <p class="card-text filters">I'm in an urgent need for job. I have passed along time in this proffession
                    and previously had been incharge of Kanpur sawmills.</p>
                <a href="#" class="btn btn-primary filters">Contact Me</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div> -->


        <!-- <###################################################################################################> -->
        {% if post %}
        {% for single_post in post %}

            {% if single_post %}
        <div class="card text-center col-sm-12 col-md-12 mt-4 filters">
            <div class="card-header filters">
                <ul class="nav nav-pills card-header-pills filters">
                    <li class="nav-item filters">
                        <a class="nav-link active" href="#">Featured</a>
                    </li>
                    <li class="nav-item filters">
                        <a class="nav-link disabled border rounded ml-2" href="#">For {{single_post.Position_Name}}</a>
                    </li>
                    <li class="nav-item filters">
                        <a class="nav-link disabled border rounded ml-2" href="#">Age {{single_post.age}}</a>
                    </li>
                    <li class="nav-item filters">
                        <a class="nav-link disabled border rounded ml-2" href="#">{{single_post.Exp}}+ Years of
                            Experience </a>
                    </li>
                    <li class="nav-item filters">
                        <a class="nav-link disabled border rounded ml-2" href="#">Expected Salary :
                            {{single_post.Expected_Salary}}</a>
                    </li>
                </ul>
            </div>
            <div class="card-body filters"
                style="background:url(https://i.ibb.co/KjdtVvg/undraw-interview-rmcf.png) center no-repeat,url(https://i.ibb.co/F8x7JRW/undraw-files-6b3d.png) right no-repeat;background-size: 150px,300px">
                <h5 class="card-title filters" style="font-family: 'Fredoka One';">Post By :
                    {{ single_post.created_by }}</h5>
                <p class="card-text filters">{{single_post.Description}}</p>
                <a href="{% url 'uprofile' pk=single_post.created_by.id %}" class="btn btn-primary filters">Contact Me</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        {% else %}
        <div>
            <img src="{% static 'images/error.svg' %}" height="300" width="300" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="text-light card-title text-center font-italic" style="font-family: 'Fredoka One';">Sorry! No posts found!</h5>
                <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <p class="text-center mt-4 mb-md-0"><a href="#" class="text-decoration-none text-light"
            style="font-family: 'Fredoka One';font-size: 18px;">Hope you discover the best.</a></p>

        {% else %}
        <div>
            <img src="{% static 'images/error.svg' %}" height="300" width="300" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="text-light card-title text-center font-italic" style="font-family: 'Fredoka One';">Sorry! No posts found!</h5>
                <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
        {% endif %}
    </div>
</div>


<!-- <div class="container py-5">

</div> -->

{% endblock %}